footer{
    height: 25%;
    position: absolute;
    width: 100%;
    box-shadow: 2px -2px 10px rgba(3,3,3,0.1);
}
.footerButton{
    margin: 5%;
    width: 90%;
    display: flex;
    align-items: center;
    
}

.logo_footer{
    background-image: url(../img/logo_ponarth_black.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 140px;
    height: 110px;
    padding: 50px;
}

.all_items_footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
  
}

.footerButton:hover{
    color: rgb(157, 20, 20);
    font-weight: bold;
    text-shadow: 5px 5px rgb(231, 223, 223);
    /* font-size: 20px; */
}
